<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
  </head>
  <body>
    <h1>User Information in Detail</h1>

    <h3>Id:<%=result.id%></h3>
    <h3>UserName:<%=result.username%></h3>
    <h3>Email:<%=result.email%></h3>
    <h3>Password:<%=result.password%></h3>
  </body>
</html>
